* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  color: white;
  padding: 2em 7em;
}
ul {
  display: flex;
  list-style: none;
}
.nav-links {
  text-decoration: none;
  color: white;
  padding: 1rem;
}
.nav-links:hover {
  color: #ff6b81;
}

/* Main section */
.main-hero {
  display: flex;
  background-color: #1f2937;
  color: white;
  padding: 0 7em;
  font-size: 1.2rem;
}

.signup-btn {
  display: inline-block;
  background-color: #392a79;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 2rem 0;
  text-decoration: none;
}
.signup-btn:hover {
  background-color: #ff6b81;
  scale: 1.1;
  transition: 700ms;
}

/* main-seconary / gallery */
.main-secondary {
  text-align: center;
}
.gallery {
  display: flex;
  justify-content: space-between;
  padding: 0 7em;
}

/* image size */
.gallery-item {
  width: 30%;
  height: 15%;
  margin: 1rem;
  overflow: hidden;
  position: relative;
}

.quote-area {
  background-color: #1f2937;
  color: white;
  padding: 2rem 7rem;
  text-align: center;
}

/* footer */
.cta-banner {
  background-color: #1f2937;
  color: white;
  padding: 2rem 7rem;
  text-align: center;
}
